
  .maincontainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('../assets/img/bg.jpg') !important;
    background-size: contain;
    background-repeat: repeat;
  }

.container{
  width: 100%;
  max-width: 70%;
  background-color: #000000;
  color: white;
  border-left: 5px solid yellowgreen;
  border-right: 5px solid yellowgreen;
  padding: 30px;

  .nova {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    img {
      width: 30%;
    }
  }
  .stage {
    width: 100%;
    height: auto;

    h3 {
      padding: 10px;
      margin-left: 10px;
      text-align: center;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
    p {
      padding: 10px;
      margin-left: 10px;
      text-align: center;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .busca {
    width: 100%;
    height: 80px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    color: black;
  }
  .card-body {
    overflow: auto;
  }
  .card {
    color: white;
    background-color: #000000;
    margin-top: 30px;

  }

  .table thead th, td {
    color: white;
    border-top: 0 transparent;
    border-bottom: 0 transparent;
}
  .botao {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    height: 80px;
    background-color: yellowgreen;
    border-color: yellowgreen;
  }

}
